/* ============================================================================================= 
* MODULAR TYPOGRAPHY START HERE!!!
* Just posted this article http://rizqi.nizamilputra.com/guide-to-good-typography/
* It's using GridLover with help Sassy Grid Lover https://www.npmjs.com/package/sassy-gridlover
================================================================================================ */

@import 'node_modules/sassy-gridlover/sassy-gridlover/_sassy-gridlover.scss';

/* --------------------------------------------------------
* Use element-width instead of view port width
* --------------------------------------------------------- */

$rwd-typography: (
  s: (
    base-font-size: 14px,
    base-line-height: 21px,
    element-width: 0
  ),
  m: (
    base-font-size: 16px,
    base-line-height: 24px,
    element-width: 550px
  ),
  l: (
    base-font-size: 20px,
    base-line-height: 30px,
    element-width: 768px
  )
);


/// Generate base font-size on root-parent element
/// I try to achieve good typography based on element width not view-port width
/// Child elements will generate font-size based on modular scale on "em"
/// Apply it on .good-type (in _base.scss). Thanks to EQCSS!

@mixin root-fs(){
	@each $label, $type in $rwd-typography {
		@include element((min-width: map-get($type, element-width))) {
			eq_this {
				font-size: map-get($type, base-font-size);
				line-height: map-get($type, base-line-height);
			}
		} 
	}
}

// Apply to _base.scss to create modular scale class
//
// -------------------------------------------------

$sgl-base-font-size: 14;
$sgl-root-font-size: 14;
$sgl-base-line-height: 1.5;
$sgl-base-unit: em;
$sgl-scale-factor: $MAJOR_THIRD;
