{# 
############################
TODO: 
1. Justify content
2. Align items
3. Align self
############################
#}

{% set flexbox = true %}
{% extends "layouts/default.njk" %}

{% block content %}
<section id="grid">
  <div class="container good-type">
    <h1>Grid</h1>
    <div class="row">
      <div class="col-l-1 col-4">.col-l-1 .col-4</div>
      <div class="col-l-11 col-2">.col-l-11 .col-2</div>
      <div class="col-l-10 col-2">.col-l-10 .col-2</div>
      <div class="col-l-2 col-4">.col-l-2 .col-4</div>
      <div class="col-l-3 col-1">.col-l-3 .col-1</div>
      <div class="col-l-9 col-3">.col-l-9 .col-3</div>
      <div class="col-l-8 col-4">.col-l-8 .col-4</div>
      <div class="col-l-4 col-3">.col-l-4 .col-3</div>
      <div class="col-l-5 col-1">.col-l-5 .col-1</div>
      <div class="col-l-7 col-4">.col-l-7 .col-4</div>
      <div class="col-l-6 col-2">.col-l-6 .col-2</div>
      <div class="col-l-6 col-2">.col-l-6 .col-2</div>
    
      <div class="col-l-3 .col-2">.col-l-3 .col-2</div>
      <div class="col-l-4 .col-2">.col-l-4 .col-2</div>
      <div class="col-l-5 .col-2">.col-l-5 .col-2</div>
      <div class="col-l-6 .col-2">.col-l-6 .col-2</div>
      <div class="col-l-5 .col-4">.col-l-5 .col-4</div>
      <div class="col-l-1 .col-4">.col-l-1 .col-4</div>
    </div>
    
    <h3>Grid - Nesting</h3>
    <div class="row">
      <div class="col-l-8">
        .col-l-8
        <div class="row">
          <div class="col-l-6">.col-l-6</div>
          <div class="col-l-6">.col-l-6</div>
        </div>
      </div>
      <div class="col-l-4">.col-l-4</div>
    </div>

    <h3>Grid - Justify Content</h3>
    <div class="row justify-content-start">
      <div class="col-l-2 push-l-8">.col-2</div>
      <div class="col-l-4 pull-l-2">.col-4</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-l-2 offset-l-2">.col-2</div>
      <div class="col-l-4 offset-l-1">.col-4</div>
    </div>
    <div class="row justify-content-end">
      <div class="col-l-2 offset-l-2">.col-2</div>
      <div class="col-l-4 offset-l-1">.col-4</div>
    </div>
    <div class="row justify-content-around">
      <div class="col-l-2 offset-l-2">.col-2</div>
      <div class="col-l-4 offset-l-1">.col-4</div>
    </div>
    <div class="row justify-content-between">
      <div class="col-l-2 offset-l-2">.col-2</div>
      <div class="col-l-4 offset-l-1">.col-4</div>
    </div>
    
    <h3>Grid - Utilities</h3>
    <div class="row utilities">
      <div class="col-l-2 push-l-8">.col-l-2 .push-l-8</div>
      <div class="col-l-4 pull-l-2">.col-l-4 .pull-l-2</div>
    </div>
    <div class="row utilities">
      <div class="col-l-2 offset-l-2">.col-l-2 .offset-l-2</div>
      <div class="col-l-4 offset-l-1">.col-l-4 .offset-l-1</div>
    </div>
  </div>
</section>

<section id="typography">
  <div class="container good-type">
      <h1>Typography</h1>
    <div class="row">
      <div class="col-l-12">
        <h1>Header level 1</h1>
        
        <p><strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.</p>
      
        <h2>Header Level 2</h2>
        
        <ol>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ol>
        
        <blockquote><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p></blockquote>
        
        <h3>Header Level 3</h3>
        
        <ul>
           <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
           <li>Aliquam tincidunt mauris eu risus.</li>
        </ul>
        
        <pre><code>
        #header h1 a {
          display: block;
          width: 300px;
          height: 80px;
        }
        </code></pre>
        
        <div class="footer">
          <p>Moomet with ♥ from the Lieur team</p>
        </div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</section>

{% endblock %}