// ============================================
// FONT VARIABLE
// ============================================
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Noto+Sans:400,400i');

$f-primary: 'Josefin Sans', sans-serif;
$f-secondary: 'Noto Sans', sans-serif;

// ===========================================
// COLOR VARIABLE
// ===========================================

$c-primary: #FFD8C0;
$c-secondary: #F72361;
$c-tertiary: #1F1E62;
$c-quaternary: #24B8F8;
$c-black: #444;
$c-white: #FFFCF9;

// ===========================================
// SUSY VARIABLE
// ===========================================

$susy: (
  'columns': 4,
  'gutters': 30px,
);

$susy-s: (
  'columns': 4,
  'gutters': 30px,
);

$susy-m: (
  'columns': 8,
  'gutters': 30px,
);

$susy-l: (
  'columns': 12,
  'gutters': 30px,
);

$susy-settings: (
  s: (
    'columns': 4,
    'gutters': 30px,
  ),

  m: (
    'columns': 8,
    'gutters': 30px,
  ),

  l: (
    'columns': 12,
    'gutters': 30px,
  )
);


// ===========================================
// BREAKPOINT VARIABLE
// ===========================================

$breakpoints: (
	xs: 0,
	s: 576,
	m: 768,
	l: 992,
	xl: 1200
);

// ===========================================
// CONTAINER WIDTH VARIABLE
// ===========================================

$containers: (
	s: 540px,
	m: 720px,
	l: 960px,
	xl: 1140px
);

// ===========================================
// RTL / LRT SUPPORT
// ===========================================

$grid-alignment: left;
$grid-alignment-rev: right;

// ===========================================
// GRID TYPE
// Value can be float or flexbox
// ===========================================

$grid-type: float !default;